
<div class="container swiper" data-controller="dot">
  <div id="carouselExampleControls" class="carousel slide carousel-container w-100" data-bs-interval="false">
  <nav class="mb-3">
    <div class="background-navbar3 container-fluid p-2 profile-typo">
      <p class="navbar-small-title fs-4 m-0 w-100">On choisit quoi ?</p>
    </div>
  </nav>
    <div class="carousel-inner p-4 carousel-items align-items-center justify-content-center">
      <% @cards.each_with_index do |card, index| %>
        <div class="carousel-item card-wishlist p-0 <%= 'active' if index == 0 %>">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="justify-content-center mt-4">
              <%= cl_image_tag(card.photo.key, height: 200 ) %>
            </div>
            <div class="title-swip mt-5 d-flex flex-column justify-content-center align-item-end">
              <h3 class=""><%= card.name %></h3>
                <%= simple_form_for  @journal_entry do |f| %>
                  <%= f.input :card, label: false, input_html: {value: card.id, class: "d-none"} %>
                  <%= f.submit "C'est parti !", class: "btn btn-ghost4 mt-3 text-center fw-bolder" %>
                <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
      <span class="sr-only">Previous</span>
      <%= image_tag "boutonl.png", class: "fleche" %>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
      <span class="sr-only">Next</span>
      <%= image_tag "boutonr.png", class: "fleche" %>
    </a>
  </div>
</div>
