
<div class="container">
  <div class="swiper" data-controller="swiper">
    <nav class="mb-3">
      <div class="background-navbar3 container-fluid p-2 profile-typo">
        <p class="navbar-small-title fs-4 m-0">Mes options</p>
      </div>
    </nav>
    <div class="swiper-wrapper d-flex">
      <% @cards.each do |card| %>
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="d-flex inner-card-option flex-column justify-content-between align-items-center">
            <div class="justify-content-center mt-4">
              <%= cl_image_tag(card.photo.key, width: 260) %>
            </div>
            <div class="swipcontent">
              <div class="title-swip mt-2 d-flex flex-column justify-content-center align-item-end">
                <h2 class=""><%= card.name %></h2>
                  <%= simple_form_for  @journal_entry do |f| %>
                    <%= f.input :card, label: false, input_html: {value: card.id, class: "d-none"} %>
                    <%= f.submit "C'est parti", class: "btn btn-ghost2 mt-3 text-center" %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="swiper-pagination"></div>
  </div>


</div>
