<nav class="mb-3">
  <div class="background-navbar2 container-fluid p-2 profile-typo">
    <p class="fs-4 m-0">L'activite du jour</p>
  </div>
</nav>

<div class="container">

  <div>
    <%= cl_image_tag @journal_entry.card.photo.key, class: "card-photo" %>
  </div>

  <div class="title w-100">
    <p class="activity-typo"><%= @journal_entry.card.name %></p>
  </div>


  <% if @journal_entry.card.address %>
    <div class="d-flex flex-column justify-content-center align-items-center p-4">
      <div style="width: 220px; height: 220px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  <% elsif @journal_entry.card.website %>
    <div class="d-flex flex-column justify-content-center align-items-center p-4">
      <%= link_to "Voir ! ", @journal_entry.card.website, class: "btn btn-ghost"  %>
    </div>
  <% elsif @journal_entry.card.playlist %>
    <div class="d-flex flex-column justify-content-center align-items-center p-4">
      <%= link_to "Ecouter ! ", @journal_entry.card.playlist, class: "btn btn-ghost"  %>
    </div>
  <% elsif @journal_entry.card.video %>
    <%# <div class="d-flex flex-column justify-content-center align-items-center p-4"> %>
      <%#= link_to "Regarder ! ", @journal_entry.card.video, class: "btn btn-ghost"  %>
    <%# </div> %>
    <iframe width="100%" height="215" class="rounded-3" src="https://www.youtube.com/embed/<%= @journal_entry.card.filter_video_url %>?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <% else %>
  <% end %>

  <div class="d-flex justify-content-center align-items-center gap-3 p-3">
    <%= link_to "C'est fait! ", edit_journal_entry_path(@journal_entry), class: "btn btn-violet"  %>
      <%# <button style="width: 150px" type="button" class="btn btn-dark">C'est fait !</button> %>
    <%= simple_form_for [@journal_entry.card, @wishlist] do |f|%>
      <%= f.submit "Pour plus tard!", class: "btn btn-violet"%>
    <% end %>
    <%# <button style="width: 150px" type="button" class="btn btn-dark">Pour plus tard</button> %>
  </div>

</div>
