<div class="">
    <%# <div class="background-navbar3 container-fluid p-2 profile-typo"> %>
      <h2 class="m-0 w-100 text-center p-3 title-activité"><%= @journal_entry.card.name %></h2>
    <%# </div> %>
</div>
<div class="container fond-blanc 100vh pt-4 mt-4">
  <%# <div class="swiper"> %>
  <div class="d-flex justify-content-center">
    <%= cl_image_tag @journal_entry.card.photo.key, class: "card-photo my-2" %>
  </div>
  <div class="embed">
    <% if @journal_entry.card.address %>
      <div class="d-flex flex-column justify-content-center align-items-center map-container">
        <div style="width: 100%; height: 230px;" class="label-none my-3 map-embed"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    <% elsif @journal_entry.card.website %>
      <div class="d-flex flex-column justify-content-center align-items-center p-4">
        <%= link_to "Voir ! ", @journal_entry.card.website, class: "btn btn-ghost"  %>
      </div>
    <% elsif @journal_entry.card.playlist %>
      <div class="embed-playlist">
        <iframe style="border-radius:12px" class="spotify-player" src="https://open.spotify.com/embed/playlist/<%= @journal_entry.card.playlist %>?utm_source=generator" width="100%" height="300" frameBorder="2" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
    <% elsif @journal_entry.card.video %>
      <iframe width="100%" height="215" class="rounded-3 video-embed" src="https://www.youtube.com/embed/<%= @journal_entry.card.filter_video_url %>?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <% end %>
  </div>
  <div class="d-flex justify-content-center ms-2 mt-4 mb-4" data-controller="modal" >
    <%# <%= link_to "C'est fait! ", edit_journal_entry_path(@journal_entry), class: "btn btn-violet"  %>
    <div class="love my-4 py-3" >
      <input id="switch" type="checkbox" data-modal-target="checkbox" data-action="change->modal#love">
      <label class="love-heart mb-4" for="switch">
        <i class="left"></i>
        <i class="right"></i>
        <i class="bottom"></i>
        <div class="round"></div>
      </label>
    </div>
    <!-- Modal -->
    <div class="modal w-100 fade" data-modal-target="modal" id="feedbackModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <%# <div class="card-content"> %>
          <div class="modal-content">
            <div class="modal-header mt-3 d-flex justify-content-center">
              <%# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> %>
              <%# <h1 class="modal-title fs-5" id="exampleModalLabel">Alors, <br>ça t'a plu?</h1> %>
               <%= image_tag "solei.PNG", width: 150,  class:"modal-title fs-5", id:"exampleModalLabel"%>
            </div>
              <div class="modal-body fw-semibold ">
                <%= simple_form_for @journal_entry do |f| %>
                  <%= f.input :content, label: "Alors, ça t'a plu?", class: "w-100 p-3 ", input_html: {style: "height:15vh bold"}  %>
                  <%= f.input :rating, collection: (1..5).to_a, label: "Comment tu te sens?", input_html: {data: {controller: "star-rating"}} %>
                  <%= f.submit "Enregistrer", class:"btn-violet w-80 " %>
              </div>
              <div class="modal-footer">
              </div>
              <% end %>
          </div>
        <%# </div> %>
      </div>
    </div>
  </div>
</div>
