<nav class="navbar navbar-light bg-light text-center align-items-center">
  <div class="container-fluid">
    <p class="navbar-brand fs-4">L'activite du jour</p>
  </div>
</nav>

<div class="container">

  <% if @journal_entry.card.address %>
    <div class="d-flex flex-column justify-content-center align-items-center p-4">
      <div class="img">
        <%= cl_image_tag @journal_entry.card.photo.key  %>
      </div>
      <p><%= @journal_entry.card.name %></p>
      <div style="width: 300px; height: 300px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  <% elsif @journal_entry.card.website %>
    <div class="d-flex flex-column justify-content-center align-items-center p-4">
      <div class="img">
        <%= cl_image_tag @journal_entry.card.photo.key  %>
      </div>
      <p><%= @journal_entry.card.name %></p>
      <p><%=  @journal_entry.card.website %></p>
    </div>
  <% elsif @journal_entry.card.playlist %>
    <div class="d-flex flex-column justify-content-center align-items-center p-4">
      <div class="img">
        <%= cl_image_tag @journal_entry.card.photo.key  %>
      </div>
      <p><%= @journal_entry.card.name %></p>
      <%=  @journal_entry.card.playlist %>
    </div>
  <% elsif @journal_entry.card.video %>
    <div class="d-flex flex-column justify-content-center align-items-center p-4">
      <div class="img">
        <%= cl_image_tag @journal_entry.card.photo.key  %>
      </div>
      <p><%= @journal_entry.card.name %></p>
      <%=  @journal_entry.card.video %>
    </div>
  <% else %>
    <div class="d-flex flex-column justify-content-center align-items-center p-4">
      <div class="img">
        <%= cl_image_tag @journal_entry.card.photo.key  %>
      </div>
      <p><%= @journal_entry.card.name %></p>
    </div>
  <% end %>

  <div class="d-flex flex-column justify-content-center align-items-center gap-3 p-3">
  <%= link_to "C'est fait! ", edit_journal_entry_path(@journal_entry)  %>
    <%# <button style="width: 150px" type="button" class="btn btn-dark">C'est fait !</button> %>
    <%= link_to "Pour plus tard ", card_wishlists_path(@journal_entry.card)  %>
    <%= simple_form_for [@journal_entry.card, @wishlist] do |f|%>
    <%= f.submit "Pour plus tard!" %>
    <%end %>
    <%# <button style="width: 150px" type="button" class="btn btn-dark">Pour plus tard</button> %>
  </div>

</div>
