<div class="navbar background-navbar navbar-expand-sm navbar-light navbar-life w-100 d-flex justify-content-between p-3 me-auto list-inline">
  <%# <div class="d-flex justify-content-between"> %>
    <%# <ul class="navbar-nav me-auto"> %>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to dashboard_path, class: "nav-link" do %>
            <%= image_tag "journal-nav.png", width: 35 %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to filters_path, class: "nav-link" do %>
            <%= image_tag "cards.png", width: 35 %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to wishlists_path, class: "nav-link" do %>
            <%= image_tag "wishlist-nav.png", width: 35 %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    <%# </ul> %>
  <%# </div> %>
</div>
