<div class="">
  <div class="d-flex align-items-center justify-content-end">
    <span><%=image_tag "journal2.PNG", width: 50, class: "me-auto", data: { action: "click->dashboard#displayJournal" }%></span>

    <h5 class="pt-2">Bonjour,  <span class="text-color fw-bolder"><%= current_user.username %></span> !</h5>
    <div class="dropdown btn-profile">
      <button class="btn btn-profile dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <%= cl_image_tag current_user.photo.key, class: "avatar-large me-auto bd-highlight" %>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><%= link_to "Editer mon profil", edit_user_registration_path, class: "dropdown-item" %></li>
        <li><%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
      </ul>
    </div>
  </div>
  <% messages = [
      "Pour pouvoir contempler un arc-en-ciel, il faut d'abord endurer la pluie.",
      "Le succès n'est pas final, l'échec n'est pas fatal: c'est le courage de continuer qui compte.",
      "La vie est un défi à relever, un bonheur à mériter, une aventure à tenter.",
      "Il n'y a pas de raccourci pour atteindre un endroit que ça vaut la peine d'aller.",
      "Le seul endroit où le succès vient avant le travail, c'est dans le dictionnaire.",
      "Chaque jour est une nouvelle chance de vivre une vie meilleure.",
      "La réussite n'est pas la clé du bonheur. Le bonheur est la clé de la réussite.",
      "La vie est un voyage, profitez de chaque instant et apprenez de chaque expérience.",
      "N'abandonnez jamais vos rêves, car ils peuvent se réaliser un jour.",
      "La vie est trop courte pour ne pas être heureux.",
      "Le bonheur ne dépend pas de ce que vous avez, mais de ce que vous êtes.",
      "Soyez la personne que vous voulez être et vivez la vie que vous voulez vivre."
    ] %>
      <%# Display a randomly selected message on each page refresh %>
  <div class="message-text mx-4 fst-italic justify-content-center">
    <p class="m-0 fw-bolder text-center"><small>"<%= messages.sample %>"</small></p>
  </div>
</div>

<div class="dashboard-container mt-5" data-controller="dashboard">
  <div class="card-box bg-violet">
    <h3 class="text-white">Mon journal d'activité</h3>
    <div class="inner">
        <% @journal_entries.each do |entry| %>
          <div class="card-entry">
            <div class="d-flex justify-content-between w-100 ">
              <div class="journal-date d-flex flex-column">
                <small><%= entry.created_at.strftime("%a") %></small>
                <small><%= entry.created_at.strftime("%d") %></small>
              </div>
              <div class="w-100">
                <div class="d-flex justify-content-between">
                  <small><%= entry.created_at.strftime("at %I:%M%p") %></small>
                  <h6 class="p-0"><%= entry.card.name %></h6>
                </div>
                <div class="w-100 text-end">
                  <em class=""><%= entry.content %></em>
                </div>
              </div>
            </div>

            <div class="entry-btns">
              <%= link_to entry,
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                class: "btn ml-4" do %>
                <i class="fas fa-trash-alt "></i>
              <% end %>
            </div>

          </div>
        <% end %>
    </div>
  </div>
</div>
<div class="image">
  <%= image_tag "rainbow.PNG", class:"rainbow" %>
</div>
