
<div class="container gap-3">
  <div class="d-flex mt-4">
    <%= cl_image_tag current_user.photo.key, class: "avatar-large me-auto bd-highlight" %>
    <h5 class="mt-3">Bonjour,  <span class="text-color fw-bolder"><%= current_user.username %></span> !</h5>
  </div>
    <% # Define an array of inspirational messages %>
    <% messages = [
        "Pour pouvoir contempler un arc-en-ciel, il faut d'abord endurer la pluie.",
        "Le succès n'est pas final, l'échec n'est pas fatal : c'est le courage de continuer qui compte.",
        "La vie est un défi à relever, un bonheur à mériter, une aventure à tenter.",
        "Il n'y a pas de raccourci pour atteindre un endroit que ça vaut la peine d'aller.",
        "Le seul endroit où le succès vient avant le travail, c'est dans le dictionnaire.",
        "Chaque jour est une nouvelle chance de vivre une vie meilleure.",
        "La réussite n'est pas la clé du bonheur. Le bonheur est la clé de la réussite.",
        "La vie est un voyage, profitez de chaque instant et apprenez de chaque expérience.",
        "N'abandonnez jamais vos rêves, car ils peuvent se réaliser un jour.",
        "La vie est trop courte pour ne pas être heureux.",
        "Le bonheur ne dépend pas de ce que vous avez, mais de ce que vous êtes.",
        "Soyez la personne que vous voulez être et vivez la vie que vous voulez vivre."
      ] %>
    <% # Display a randomly selected message on each page refresh %>
    <div class="message text fst-italic">
      <p><small>"<%= messages.sample %>"</small></p>
    </div>
</div> 
<div class="dashboard-container" data-controller="dashboard">
  <div class="wrapper">
    <div class="main_body">
      <div class="sidebar_menu">
        <div class="inner_sidebar_menu">
          <ul class="d-flex flex-column align-items-center p-0">
            <li data-action="click->dashboard#displayJournal">
              <p>
                <span><%=image_tag "journal.png", width: 48, class: "" %></span>
              </p>
              <div data-dashboard-target="journal" class="card-box bg-violet card-hidden">
                <div class="inner">
                  <h3><%= link_to "Mon journal d'activite", filters_path, class: "text-decoration-none tab-underlined " %></h3>
                  <% @journal_entries.each do |entry| %>
                  <div class="d-flex justify-content-between w-100 p-2 ">
                    <div class="journal-left ">
                      <%= entry.created_at.strftime("%a %d") %>
                    </div>
                    <div class="journal-right">
                      <%= entry.created_at.strftime("at %I:%M%p") %>
                      <%= entry.content %>
                    </div>
                  </div>
                  <% end %> 
                </div>
              </div>
            </li>
            <%# <li>
              <p>
              <%# <span><%=image_tag "diary.png", width: 48, class: "" %> 

              <%# </p>
            </li> %>
            <li data-action="click->dashboard#displayWishlist">
              <p>
                <span><%=image_tag "heart-shape.png", width: 48, class: "" %></span>
              </p>
              <div data-dashboard-target="wishlist" class="card-box bg-violet card-hidden">
                <div class="inner">
                  <h3><%= link_to "My wishlist", filters_path, class: "text-decoration-none tab-underlined" %></h3>
                  <% @wishlist_cards.each do |card| %>
                    <%= card.name %>
                  <% end %>
                </div>  
              </div>
            </li>
          </ul>
        </div>
      </div>       
    </div>
  </div> 
</div>
<div class="image">
<%= image_tag "creativity.png",  class:"raibow" %>
</div>

        
        
    