
<div class="container">
  <div class="img-position fst-italic justify-content-center">
    <p class="">D'accord <span class="text-color fw-bolder"><%= current_user.username %></span> ! On va faire en sorte d'améliorer ta journée avec une activité cool.
    De quoi tu as envie ?</p>
  </div>
  <div class="fst-italic justify-content-center">
    <div class="justify-content-between align-items-center">
      <div class="form">
        <%= form_with  url: cards_path, method: :get do |f| %>
          <div class="d-flex img-bulle3 flex-column align-items-start justify-content-between">
              <div class="">
                <p class="text-bulle">Tu préfères rester à <span class="text-color fw-bolder">la maison</span> ou aller à <span class="text-color fw-bolder">l'extérieur</span> ?
                Tu as envie de <span class="text-color fw-bolder">bouger</span> ou tu as <span class="text-color fw-bolder">la flemme</span> ?</p>
              </div>

              <div class="btns-radio flex-column">
                <div class="d-flex mb-4 w-100 justify-content-around">
                  <div class="radio-btn-div ">
                    <%= f.radio_button :outside, false, class: "radio-btn" %>
                    <%= f.label :outside do %>
                      <%= image_tag "inside.PNG", class: "label-icon" %>
                    <% end %>
                  </div>
                  <div class="radio-btn-div">
                    <div data-controller="geolocalisation" class="d-none">
                      <%= f.text_field :lng, data: {geolocalisation_target: "lng"} %>
                      <%= f.text_field :lat, data: {geolocalisation_target: "lat"} %>
                    </div>
                    <%= f.radio_button :outside, true, class: "radio-btn" %>
                    <%= f.label :outside do %>
                      <%= image_tag "outside.PNG", class: "label-icon" %>
                    <% end %>
                  </div>
                </div>
                <div class="d-flex w-100 justify-content-around">
                  <div class="radio-btn-div">
                    <%= f.radio_button :active, true, class: "radio-btn" %>
                    <%= f.label :active do %>
                      <%= image_tag "active.PNG", class: "label-icon" %>
                    <% end %>
                  </div>
                  <div class="radio-btn-div">
                    <%= f.radio_button :active, false, class: "radio-btn" %>
                    <%= f.label :lazy do %>
                      <%= image_tag "flemme.PNG", class: "label-icon" %>
                    <% end %>
                  </div>
                </div>
              </div>

            </div>
            <div class="d-flex mt-4vh flex-column align-items-center justify-content-between pb-2">
              <%= f.hidden_field :user_id, value: current_user.id %>
              <div class="w-100 justify-content-center align-items-center d-flex">
                <%= f.submit "Mélanger les cartes", class: "btn btn-filter text-center" %>
              </div>
            <% end %>
            <%# <div class="img-bulle2 mx-4 fst-italic justify-content-center">
              <p>Tu as envie de <span class="text-color fw-bolder">bouger</span> où tu as <span class="text-color fw-bolder">la flemme</span> ?</p>
            </div> %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
