
<div class="container d-flex flex-column justify-content-center h-100">
  <h1>Cartes du jour</h1>
  <div class="cards align-items-center">
      <% @cards.each do |card| %>
        <div class="card" id="<%= "selected" if card == @card %>">
          <% if card == @card %>
            <button type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <%= cl_image_tag card.parent.photo.key, alt: "card", class: "card-inner" %>
            </button>

            <!-- Modal -->
          <% else %>
            <%= cl_image_tag card.parent.photo.key, alt: "card", class: "card-inner" %>
          <% end %>
        </div>
        <h3><%= card.parent.name if card == @card %></h3>
      <% end %>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <%= link_to "shuffle again", cards_path(outside: params[:outside], active: params[:active]) %>
        <%= link_to "accept", new_journal_entry_path(parent_card: @card.id, outside: params[:outside], active: params[:active]) %>
      </div>
    </div>
  </div>
</div>
