<div class="container d-flex flex-column justify-content-between align-items-center">
  <div class="cards mb-5" data-controller="">
    <% @cards.each_with_index do |card, index| %>

      <div class="card" data-cards-target="card" id="<%= card == @card ? 'selected' : humanize(index % 5) %>" >
        <% if card == @card %>
          <button type="button" class="btn-selected" data-bs-toggle="modal" data-bs-target="#open-modal" >
              <%= cl_image_tag card.parent.photo.key, alt: "card", class: "card-inner" %>
          </button>
          <!-- Modal -->
        <% else %>
          <%= cl_image_tag card.parent.photo.key, alt: "card", class: "card-inner" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="form-later">
    <%= simple_form_for [@card.parent, @wishlist] do |f|%>
      <%= f.submit "Pour plus tard !", class: "learn-more", id: "btn-later" %>
    <% end %>
  </div>
</div>


<div class="modal modal-index fade" id="open-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-window">
    <div class="modal-content  d-flex flex-column">

      <h1><%= @card.parent.name %> ?</h1>
      <button type="button" class="modal-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      <div class="text-center">Quand t'es prêt.e 👇</div>
      <div class="modal-footer d-flex justify-content-center">

      <%= link_to cards_path(outside: params[:outside], active: params[:active], lat: params[:lat], lng: params[:lng]) do %>
        <i class="fa-solid fa-arrows-rotate modal-icon" ></i>
        <%# <%= image_tag("card.png", width: 45) %>
      <% end %>

      <%= link_to new_journal_entry_path(parent_card: @card.parent.id, outside: params[:outside], active: params[:active]) do %>
        <i class="fa-solid fa-check modal-icon"></i>
      <% end %>
      </div>
    </div>
  </div>
</div>
