
<div class="container d-flex flex-column justify-content-around position-relative full-height">
  <div class="card-name text-center px-5">
    <h3>Carte du jour :</h3>
    <h2 class="text-align fw-bolder"><%= @card.parent.name %></h2>
  </div>
  <div class="cards d-flex position-absolute justify-content-center align-items-center" data-controller="cards">
    <% @cards.each do |card| %>
      <% x = 120 + (0..50).to_a.sample %>
      <% y = 120 + (0..50).to_a.sample %>
      <% x_move = ["top", "bottom"].sample %>
      <% y_move = ["left", "right"].sample %>

      <div class="card position-absolute transition-<%=[1000,2000,3000,4000,5000].sample %>" id="<%= "selected" if card == @card %>" style="<%= x_move %>:<%= x %>vh; <%= y_move %>:<%= y %>vw; transform: rotate(<%=(-20..20).to_a.sample %>deg); " data-cards-target="card">
        <% if card == @card %>
          <button type="button" class="btn-selected" data-bs-toggle="modal" data-bs-target="#open-modal">
              <%= cl_image_tag card.parent.photo.key, alt: "card", class: "card-inner" %>
          </button>

          <!-- Modal -->
        <% else %>
          <%= cl_image_tag card.parent.photo.key, alt: "card", class: "card-inner" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= simple_form_for [@card.parent, @wishlist] do |f|%>
      <%= f.submit "Pour plus tard!", class: "btn btn-violet"%>
  <% end %>
</div>

<div class="modal fade" id="open-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-window">
    <div class="modal-content  d-flex flex-column">

      <h1><%= @card.parent.name %></h1>
      <button type="button" class="modal-close" data-bs-dismiss="modal" aria-label="Close">fermer</button>
      <div class="text-center">Quand t'es prêt.e 👇</div>
      <div class="modal-footer d-flex justify-content-center">
        <%= link_to "Remélanger", cards_path(outside: params[:outside], active: params[:active]) %>
        <%= link_to "C'est parti", new_journal_entry_path(parent_card: @card.parent.id, outside: params[:outside], active: params[:active]) %>
      </div>
    </div>
  </div>
</div>

<script>
  // Wait for the document to be loaded
  document.addEventListener('DOMContentLoaded', function() {
    // Get the accept button element
    const acceptButton = document.querySelector('#modal-footer a[href*="new_journal_entry"]');

    // Add a click event listener to the accept button
    acceptButton.addEventListener('click', function(event) {
      // Get the ID of the selected card
      const selectedCardId = document.querySelector('.card#selected').getAttribute('id');
      // Update the "parent_card" parameter of the accept button's href attribute
      acceptButton.href += `?parent_card=${selectedCardId}`;
    });
  });
</script>
